
<form class="contact-form">
    <h2>Feeling unsafe? report here:</h2>
    
    <input type="email" id="email" placeholder="your email adress">
    </p>
    <textarea id="message" placeholder="brief explanation" cols="30" rows="8"></textarea>
    <input type="submit" class="submit" value="send report">
  </form>
 

 <script src="../routes/emailform.js"></script>