<div class="loveMeter">
    <h1>The love meter!</h1>
    <h2>Find out if you're compatible</h2>
    <form id="loveForm">
        <input type="text" id="name1" placeholder="Enter first name">
        <input type="text" id="name2" placeholder="Enter second name">
        <button class="loveSubmit" type="submit">Calculate Love</button>
    </form>

    <div id="result"></div>
    <div id="progressContainer">
        <div id="progressBar"></div>
    </div>
</div>

