
<section class="mobileWarning">
    <img  class="phoneWarning" src="/images/mobilewarn.png" alt="">
    <p>Only desktop is supported at the moment.</p>
    <p>Please visit this page on a desktop browser to view the content.</p>
    <img class="svgBackground" src="/images/cool_bg.svg" alt="">
</section>

