  <header>
    {{>navBar}}
  </header>
<main class="matchMain">


   {{>lovemeter}}
        <div id="shadowBox"></div>
    </article>

</main>
{{>background}}
<script src="/public/js/loveapi.js"></script>;