
<header>
  {{>navBar}}
  {{!-- warning zorgt ervoor dat je niet de app probeert te gebruiken op een mobile device --}}
  {{>warning}}
</header>
<main class="matchMain">
  {{>lovemeter}}
  <div id="shadowBox"></div>
  </article>

</main>
{{>background}}
